
#header-about {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    
}
#header-about>div{
    background: url('/img_landing/Write with us!.png');
    background-size: cover;
    width:400px;
    height:100px;
}
main {
    margin-bottom:100px;
    position: relative;
    top: -100px;
    line-height: 2;
}
main section {
    font-size: 14px;
    color: white;
    width: 70vw;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#about-art {
    background: url('/img_landing/contact us ART.jpg');
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#contact-art {
    background: url('/img_landing/grandhall\ front\ final.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
