* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');


body,html{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}
#landing {
    max-width:1440px;
}
#header-container {
    position: relative;
}
#nav-container{
    position: absolute;
}
nav{
    background: transparent;
    display: grid;
    grid-template-columns: 2fr 4fr;
    position: absolute;
    z-index: 2;
    width: 100vw;
    max-width:1440px;
}

nav a img {
    width:300px;
    display:block;
    margin:auto;
}
a {
    padding:0.25em 0.7em;
    border-radius: 10px;;
}
a.active{
    background: url('/img_landing/violet bluebackground.png');
    background-size: cover;
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
    justify-content: center;
    align-items: center;
}
nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

#nav-bg{
    background: rgb(0, 0, 0);
    height:50px;
    width: 100vw;
    position: absolute;
    top: 0px;
    z-index:1;
    box-shadow: 0px 20px 20px 20px black;
    max-width:1440px;
}

#hero {
    height: 600px;
    width:100vw;
    max-width:1440px;
    position: absolute;
    top:40px;
    background: url('/img_landing/background.png');
    background-position: center;
    background-size: cover;
}

#hero-text{
    position: absolute;
    font-size: 42px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    right: 70px;
    top: 150px;
    width: 300px;
    text-align: right;
}
#text-purple {
    color: #9007a9;
    position: absolute;
    z-index: 1;
    top: -4px;
    left: -4px;
}
#text-white{
    color: white;
    position: absolute;
    z-index: 3;

}

#text-blue {
    color: #0b44e8;
    position: absolute;
    z-index: 2;
    top: 2px;
    left: 2px;
}
#intro {
    position: relative;
    z-index: 20;
    top: 550px;
    text-align: center;
    width: 70%;
    max-width:1440px;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.h1{
    font-size: 42px;
    color: #916f1e;
    font-family: benne;
    padding: 10px 0px;
}
.p{
    padding:10px 0px;
    font-size: 18px;
}
#art {
    position: relative;
    width: 100%;
    height: 900px;
    background: url('/img_landing/image 1.png');
    background-size: cover;
    background-position: center;
    top: 450px;
}
.panel {
    position: relative;
    display: grid;
    display:flex;
    align-items: center;
}
.panel .title {
    background-image: url('/img_landing/violet bluebackground.png');
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 43px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    /* font-weight: 800; */
    -webkit-font-smoothing: antialiased;
}
.text {
    width: 50%;
}
.panel > .text.left {
    text-align: right;
    padding-left: 100px;
}
#panel1{
    top: 400px;
}
.pic {
    height: 410px;
    width: 50%;
}
#boy1 {
    background: url('/img_landing/image\ 2.png');
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
}
#panel2{
    top: 450px;
}
#girl1 {
    background: url('/img_landing/image\ 3.png');
    background-size: contain;
    background-position: center left;
    background-repeat: no-repeat;
}

.list{
    list-style-image:url('/img_landing/arrow (2).png');
    padding: 0px;
    width: 80%;
    text-align: center;
}
.list>li {
    margin-bottom: 1em;
}

#panel3{
    top: 450px;
}
#core-list{
    width:300px;
    margin: auto;
    text-align: left;
    margin-top: -30px;
}
#panel3 .title{
    text-align: center;
}

#boy2 {
    background: url('/img_landing/image\ 4.png');
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
}

footer {
    background: #000;
    padding: 2em;
    position: relative;
    top: 500px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    color: white;
}
footer img {
    width: 70%;
    display: block;
    margin:auto;
}

footer .h2{
    font-size: 30px;
}

footer a {
    color: #0b44e8;
    text-decoration: none;
}

footer .h3{
    font-size: 25px;
    text-align: center;
}
.download-button{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.download-button img {
    width:100%;
}

/* dark mode goes here */
.dark-mode{
    background:#000;
}
.dark-mode .p {
    color: white;
}
.dark-mode  li{
    color: white !important;
}

