main {
    margin-bottom:100px;
}
main section {
    font-size: 14px;
    color: white;
    width: 70vw;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2;
}

main #header-landing{
    color: white;
    font-family: benne serif;
    font-size: 42px;
    color: #916F1E;
    text-align: center;
    margin-bottom: 10px;
}

#landing-gate{
    height:600px;
    background: url('/img_landing/image 1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.panel {
    color: white !important;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: flex-end;
    margin:0px 100px;
}
#vission, #goal, #core {
    margin-bottom: 50px;
}
.panel > *{
    width:50vw;
    font-size: 14px;
}
.is-left .panel-child-header, .is-left .panel-child-body{
    text-align: right;
}
.panel-child-body{
    padding-left: 100px;
}
.is-right .panel-list {
    padding-right: 100px;
}
.is-left .panel-list {
    padding-left: 100px;
}
.panel-child-header{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    background-image: url('/img_landing/textbg.png');
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.panel-image {
    height: 400px;
    background: red;
}
#vission .panel-image{
    background:url('/img_landing/image 2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
}

#goal .panel-image{
    background:url('/img_landing/image 3.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
}
#core ul {
    width:300px;
}
#core .panel-child-header {
    padding-left: 100px;
    text-align: center;
}
.is-flex{
    display: flex;
    justify-content: center;
}
#core .panel-image{
    background:url('/img_landing/image 4.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.panel-list {
    list-style-image: url('/img_landing/arrow (2).png');
}
